#title {
  color: white;
  text-shadow: 3px 3px 7px black;
  font-weight: bold;
  font-size: 300%;
}
#description {
  color: white;
  text-shadow: 3px 3px 7px black;
  margin-bottom: 1em;
  font-size: 130%;
}
#tooltip {	
    position: absolute;				
    padding: 10px;				
    font: 12px sans-serif;	
    color: white;
    background: black;	
    border: solid 2px black;		
    border-radius: 8px;			
    pointer-events: none;			
}
#footer, a {
  min-width: 1080px;
  color: blue;
  margin: 1em;
  font-weight: bold;
}
#source {
  margin: auto;
  position: relative;
  bottom: 30px;
  color: white;
  font-weight: bold;
}
path {
  stroke-width: .5px;
}
path:hover {
  fill: red;
}
